/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container-sale{

  padding-top: 50px;

}

#label-cart{
  margin-bottom: 0em;
  position: relative;
  margin-left: 40px;
  margin-top: -30px;
  font-size: 20px;
  font-weight: bold;
}

.inputCart{
  height: 38px;
  text-align: center;
}

.buttonsAddCart{
  padding-top: 10px;
  padding-bottom: 20px;
}

/* #AddCartProductList{
  
} */

.cardProduct{
  margin-left:20px;
  margin-right: 20px;
}

.bodyProductModalDetail{

  text-align: center;
}